
/* CUSTOM PROPERTY */
:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

/* GLOBAL */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    background-color: var(--primario);
    line-height: 1.5;
    color: var(--blanco);
}
*, *:after, *:before {
    box-sizing: inherit;
}
.p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.contenedor {
    margin: 0 auto;
    max-width: 120rem;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
    color: var(--secundarioOscuro);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

/** HEADER */
.header {
    text-align: center;
    margin-top: 3rem;
}
.header_logo {
    margin: 3rem 0;
}

/** NAVEGACION */
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin: 3rem 0; 
    font-size: 3rem;
}
.navegacion__link {
    font-size: 2rem;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    font-weight: bold;
}
.navegacion__link:hover {
    color: var(--secundario);
}
.navegacion__link--active {
    color: var(--secundario)
}
.grid {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
.producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primarioOscuro);
    padding-top: 2rem;
}
@media (min-width: 768px) {
    .producto {
        margin-bottom: 0;
    }
}
.producto__nombre, .producto__precio {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.producto__nombre {
    color: var(--blanco);
}
.producto__precio {
    color: var(--secundario)
}
.footer {
    text-align: center;
    background-color: var(--primarioOscuro);
    padding: .5rem 0;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem;
}
.grafico {
    background-size: cover;
    grid-column: 1 / 2;
    height: 40rem;
}
@media (min-width: 768px) {
    .grafico {
        height: auto
    }
}
.grafico--camisas {
    grid-row: 2 / 4;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node {
    grid-row: 11 / 13;
    background-image: url(../img/grafico2.jpg);
}
@media (min-width: 768px) {
    .grafico--camisas {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .grafico--node {
        grid-column: 2 / 4;
        grid-row: 5 / 6;
    }
}

/** NOSOTROS */
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 2rem;
}
@media (min-width: 768px) {
    .nosotros {
        flex-direction: row;
        justify-content: space-between;
    }
}
.nosotros__informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 60rem;
}
.nosotros_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
@media (min-width: 768px) {
    .servicios {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** PRODUCTO */
.camisa {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 768px) {
    .camisa {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
    }
}
.camisa__imagen {
    width: 100%;
}
.camisa__descripcion {
    text-align: justify;
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
}
.formulario__campo {
    border: .5rem solid var(--primarioOscuro);
    background-color: var(--primario);
    font-size: 2rem;
    color: var(--blanco);
    padding: 1rem;
}
.formulario__enviar {
    background-color: var(--secundario);
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    font-size: 2rem;
    padding: 2rem;
    border: none;
    grid-column: 1 / 3;
}